:root,
[data-theme="light"] {
    --main-color: #009f4d;
    --sub-color: #3f3a64;
    --text: #666;
    --border: 8px;
    --border-color: #eee;
    --bg-light: #fff;
    --bg-dark: #f7f7f7;
}

[data-theme="dark"] {
    --sub-color: #fff;
    --text: #c2c2c2;
    --border-color: rgba(255, 255, 255, 0.1);
    --bg-light: #151421;
    --bg-dark: #100f19;
}

/* Global css */

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    margin: 0 !important;
    overflow: visible !important;
}

body {
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

p {
    line-height: 27px;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

button {
    cursor: pointer;
}

input,
textarea,
button {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    font-family: "Jost", sans-serif;
    background-color: transparent;
}

.title h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
    margin: 0;
}

.title h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 45px;
    color: var(--sub-color);
    margin: 0;
}
.desc {
    font-size: 17px;
    color: var(--text);
    line-height: 27px;
    opacity: 0.8;
}
.button {
    background-color: var(--main-color);
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    border-radius: var(--border);
}
/* HEADER */

.header.nav-fixed {
    padding: 0;
    background-color: var(--bg-light);
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
}

.header {
    display: flex;
    align-items: center;
    background-color: transparent;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.05);
}

.header__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -10;
}

.header .navbar {
    position: static;
    padding: 20px 0;
    transition: all linear 0.3s;
}

.header.nav-fixed .navbar {
    padding: 14px 0;
}

.header .navbar-brand {
    order: 1;
    margin-right: 0;
}

.header .navbar-brand i {
    color: var(--main-color);
    font-size: 30px;
}

.header.nav-fixed .navbar-brand span:first-child,
.header.nav-fixed .navbar-brand span:last-child {
    color: var(--sub-color);
    font-weight: 600;
}

.header .navbar-brand span:first-child,
.header .navbar-brand span:last-child {
    color: #fff;
    font-weight: 600;
}

.header .navbar-brand span:first-child {
    font-size: 30px;
    line-height: 30px;
}

.header .navbar-brand span:last-child {
    font-size: 14px;
}

.header .collapse .nav-link,
.header.nav-fixed .collapse .nav-link {
    font-size: 15px;
    font-weight: 600;
    padding: 12px;
    opacity: 0.8;
    transition: all linear 0.3s;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.header .collapse .nav-link {
    color: #fff;
    text-align: center;
}

.header.nav-fixed .collapse .nav-link {
    color: var(--sub-color);
}

.header .collapse .nav-link.active,
.header .collapse .nav-link:hover {
    opacity: 1;
}

.header.nav-fixed .collapse .nav-link.active {
    color: var(--main-color);
}

.header .collapse .nav-link.active {
    color: #fff;
}

.dropdown-toggle::after {
    display: none;
}

.header .dropdown-menu {
    min-width: 192px;
    top: 100%;
    left: 50%;
    background-color: var(--bg-light);
    border: 1px solid var(--border-color);
    transform: translateX(-50%);
}

.header .dropdown-item:focus,
.dropdown-item:hover {
    background-color: transparent;
}

.header .dropdown-menu::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    background-color: var(--bg-light);
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.header .dropdown-item {
    font-size: 15px;
    font-weight: 600;
    color: var(--sub-color);
    text-transform: uppercase;
    opacity: 0.8;
    padding: 10px 22px;
    transition: all linear 0.3s;
}

.header .dropdown-item:hover {
    opacity: 1;
}

.dropdown-item.active,
.dropdown-item:active {
    color: inherit;
    text-decoration: none;
    background-color: inherit;
}

/* SEARCH BUTTON */

.header .header__search {
    order: 3;
}

.header__search input {
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translateX(-50%);
    max-width: 80vw;
    color: #fff;
    font-size: 54px;
    font-weight: 200;
    background: transparent;
    border: none;
    animation: inputSearch linear 0.3s;
    z-index: 15;
    display: none;
}

@keyframes inputSearch {
    from {
        opacity: 0;
        transform: translateX(-40%);
    }

    to {
        opacity: 1;
        transform: translateX(-50%);
    }
}

.header__search input::placeholder {
    color: #fff;
}

.header__search input.form-control:focus {
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

body.search-active .header__search input {
    display: block;
}

.search-active {
    overflow: hidden;
}

.header__search-control {
    position: relative;
}

.search-open {
    display: block;
    width: 45px;
    height: 45px;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 50%;
    outline: none;
    transition: all linear 0.5s;
    cursor: pointer;
}

.search-open i {
    font-size: 16px;
    color: #fff;
    line-height: 45px;
    opacity: 1;
    transition: all linear 0.3s;
}

body.search-active .search-open {
    transform: scale(80);
    cursor: default;
}

body.search-active .search-open i {
    opacity: 0;
}

.search-close {
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    color: #fff;
    font-size: 70px;
    opacity: 0;
    transform: rotate(0);
    transition: all linear 0.5s;
    z-index: 10;
    cursor: default;
}

body.search-active .search-close {
    opacity: 1;
    transform: rotate(180deg);
    cursor: pointer;
}

.header :not(.btn-check) + .btn:active {
    border-color: transparent;
}

/* THEME BUTTON */

.header__theme-btn {
    margin-left: 24px;
}

.header__checkbox ~ i:last-of-type,
.header__checkbox:checked ~ i:first-of-type {
    display: none;
}

.header__checkbox ~ i:first-of-type,
.header__checkbox:checked ~ i:last-of-type {
    display: block;
}

.header .header__checkbox ~ i {
    font-size: 24px;
}

.header.nav-fixed .header__checkbox ~ i:first-of-type,
.header .header__checkbox ~ i:last-of-type {
    color: var(--sub-color);
}

/* MENU RESPONSIVE */

.header .navbar-toggler {
    background-color: var(--main-color);
    width: 37px;
    padding: 6px 0;
    order: 3;
}

.header .navbar-toggler i {
    color: #fff;
    font-size: 24px;
}

.header .navbar-toggler i:first-child,
.header .navbar-toggler.collapsed i:last-child {
    display: none;
}

.header .navbar-toggler i:last-child,
.header .navbar-toggler.collapsed i:first-child {
    display: block;
}

.header .navbar-collapse {
    order: 2;
}

.header .navbar-collapse ul {
    align-items: center;
    margin: auto;
}

.header .navbar-collapse .nav-item.dropdown {
    text-align: center;
}

/* SLIDER */

.slider .carousel-inner {
    height: 800px;
}

.slider .carousel-item {
    position: static;
}

.slider .carousel-item {
    height: 100%;
}

.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end,
.carousel-fade .carousel-item.active {
    z-index: 3;
}

.slider .carousel-item img {
    object-fit: cover;
    height: 100%;
}

.slider .carousel-caption {
    top: 50%;
    left: 0;
    right: 0;
    text-align: left;
    transform: translateY(-50%);
    z-index: 8;
}

.slider .carousel-caption h5 {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    max-width: 800px;
}

.slider .carousel-caption p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    max-width: 600px;
    margin: 24px 0 44px;
}

.slider .carousel-caption a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--main-color);
    padding: 15px 50px;
    border-radius: var(--border);
    transition: all linear 0.3s;
}

.slider .carousel-caption a:hover {
    background-color: #008030;
    border-color: #00732c;
}

.carousel-control-next,
.carousel-control-prev {
    display: block;
    position: absolute;
    top: auto;
    bottom: 50px;
    width: 50px;
    z-index: 6;
    opacity: 1;
}

.carousel-control-next {
    right: 25px;
}

.carousel-control-prev {
    right: 95px;
    left: auto;
}

.carousel-control-next i,
.carousel-control-prev i {
    display: block;
    width: 50px;
    height: 50px;
    color: var(--sub-color);
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    background-color: var(--bg-light);
    border-radius: 50%;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.12);
}

.slider__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 42, 55, 0.7);
    z-index: 3;
}

.slider .shape {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    fill: var(--bg-light);
    z-index: 4;
}

/* ABOUT */

.about {
    background-color: var(--bg-light);
}

.about__left p {
    font-size: 17px;
    color: var(--text);
    opacity: 0.8;
}

.about__left li {
    margin-bottom: 15px;
}

.about__left a {
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: var(--sub-color);
}

.about__left i {
    color: var(--main-color);
    margin-right: 5px;
}

.about__right img {
    border-radius: var(--border);
}

/* SERVICES */

.services {
    background-color: var(--bg-light);
}

.services .card {
    background-color: var(--bg-light);
    border: none;
    border-radius: var(--border);
}

.services .services__img {
    cursor: pointer;
}

.services .card-body {
    position: relative;
    text-align: center;
    padding: 0 20px;
}

.services .services__title {
    display: inline-block;
    transform: translateY(-25px);
    color: var(--sub-color);
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    background-color: var(--bg-light);
    border: 1px solid var(--border-color);
    border-radius: var(--border);
    padding: 12px 35px;
    margin: auto;
    transition: all linear 0.3s;
}

.services .card:hover .services__title {
    color: var(--main-color);
}

.services .card-body p {
    font-size: 17px;
    font-weight: 400;
    color: var(--text);
    opacity: 0.8;
    margin-bottom: 16px;
}

.services .card-body a:last-child {
    font-size: 16px;
    font-weight: 600;
    color: var(--sub-color);
    padding: 8px 35px;
    transition: all linear 0.3s;
}

.services .card-body a:last-child:hover {
    color: var(--main-color);
}

/* GALLERY */

.gallery {
    background-color: var(--bg-dark);
}

/* MAGNIFIC POPUP */

/* optionally hide arrows until image is displayed */
.mfp-s-loading .mfp-arrow {
    display: none;
}

/* FadeIn */

.mfp-with-fade .mfp-content,
.mfp-with-fade .mfp-arrow,
.mfp-with-fade.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.mfp-with-fade.mfp-ready .mfp-content,
.mfp-with-fade.mfp-ready .mfp-arrow {
    opacity: 1;
}

.mfp-with-fade.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-fade.mfp-removing .mfp-content,
.mfp-with-fade.mfp-removing .mfp-arrow,
.mfp-with-fade.mfp-removing.mfp-bg {
    opacity: 0;
}

/* CSS Magnific popup */

.mfp-zoom-out-cur {
    cursor: default;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    display: inline-block;
    width: auto;
    font-size: 50px;
    top: unset;
    bottom: -60px;
    cursor: pointer;
    transition: all linear 0.3s;
}

img.mfp-img {
    border: 4px solid #fff;
    border-radius: var(--border);
    padding: 0;
}

.mfp-with-fade.mfp-ready .mfp-arrow {
    opacity: 0;
    transition: all linear 0.5s;
}

.mfp-with-fade.mfp-ready .mfp-arrow:hover {
    opacity: 1;
}

.mfp-bottom-bar {
    top: unset;
    bottom: -80px;
}

.mfp-title {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}

.mfp-counter {
    font-size: 16px;
    font-weight: 400;
    color: var(--main-color);
    position: static;
}

/* ========================================= */

.gallery__item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.gallery__item img {
    transform: scale(1);
    transition: all linear 0.3s;
}

.gallery__item:hover img {
    transform: scale(1.1);
}

.gallery__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(29, 42, 55);
    opacity: 0;
    transition: all linear 0.3s;
    z-index: 6;
}

.gallery__item:hover .gallery__overlay {
    opacity: 0.8;
}

.gallery__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 10px;
    align-items: start;
    padding: 36px 50px;
    opacity: 0;
    transform: translateY(170px);
    transition: all ease-out 0.4s;
    z-index: 10;
}

.gallery__item:hover .gallery__text {
    opacity: 1;
    transform: translateY(0);
}

.gallery__text h3 {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.gallery__text p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

.gallery__brand {
    border-top: 1px solid var(--border-color);
}

.gallery__brand img {
    padding: 0 18px;
}

/* RESULT */

.result {
    background-color: var(--bg-light);
}

.result img {
    border-radius: var(--border);
}

.result .result__label {
    font-size: 18px;
    font-weight: 400;
    color: var(--sub-color);
    margin-bottom: 10px;
}

.result .progress {
    overflow: visible;
    height: 4px;
    background-color: var(--bg-dark);
    margin-bottom: 30px;
}

.result .progress:last-child {
    margin-bottom: 0;
}

.result .progress-bar {
    overflow: visible;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: var(--border);
}

.result .result__round {
    position: relative;
    align-self: center;
    width: 14px;
    height: 14px;
    background-color: transparent;
    border-radius: 50%;
    transform: translateX(-2px);
}

.result .result__number {
    position: absolute;
    top: -36px;
    right: 0;
    font-size: 18px;
    font-weight: 400;
    color: var(--sub-color);
}

.result .result__round::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    transform: translate(calc(-50% + 4px), calc(-50% + 4px));

    border-radius: 50%;
}

.result .progress:nth-of-type(1) .progress-bar {
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.result .progress:nth-of-type(1) .result__round {
    border: 3px solid #61fded;
}

.result .progress:nth-of-type(1) .result__round::after {
    border: 1px solid rgba(97, 253, 237, 0.5);
}

.result .progress:nth-of-type(2) .progress-bar {
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.result .progress:nth-of-type(2) .result__round {
    border: 3px solid #eece90;
}

.result .progress:nth-of-type(2) .result__round::after {
    border: 1px solid rgba(238, 207, 144, 0.5);
}

.result .progress:nth-of-type(3) .progress-bar {
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.result .progress:nth-of-type(3) .result__round {
    border: 3px solid #5c51ff;
}

.result .progress:nth-of-type(3) .result__round::after {
    border: 1px solid rgba(93, 81, 255, 0.5);
}

.result .progress:nth-of-type(4) .progress-bar {
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.result .progress:nth-of-type(4) .result__round {
    border: 3px solid #e5529a;
}

.result .progress:nth-of-type(4) .result__round::after {
    border: 1px solid rgba(229, 82, 153, 0.5);
}

/* TESTIMONIALS */

.testimonials {
    background-color: var(--bg-dark);
}

.owl-carousel .item {
    max-width: 900px;
    padding: 40px 30px;
    margin: auto;
}

.owl-carousel p {
    display: block;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--text);
    opacity: 0.8;
    margin-bottom: 24px;
}

.testimonials__person {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.testimonials__person .testimonials__img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials__info h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--sub-color);
}

.testimonials__info span {
    font-size: 17px;
    font-weight: 400;
    color: var(--text);
    opacity: 0.8;
}

.owl-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 15px;
    margin-top: 20px;
}

.owl-carousel button.owl-dot {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #213364;
    opacity: 0.5;
    border-radius: 50%;
    transition: all linear 0.2s;
}

.owl-carousel button.owl-dot:hover,
.owl-carousel button.owl-dot.active {
    width: 15px;
    height: 15px;
    opacity: 1;
}

/* NEWS */

.news {
    background-color: var(--bg-light);
    text-align: center;
}

.news .card {
    background-color: var(--bg-light);
    border: 1px solid var(--border-color);
}

.news .news__img {
    overflow: hidden;
    cursor: pointer;
}

.news .news__img img {
    transform: scale(1);
    transition: all linear 0.3s;
}

.news .card:hover .news__img img {
    transform: scale(1.1);
}

.news .card-body {
    text-align: start;
    padding: 20px;
}

.news .card-body a:last-child {
    display: inline-block;
}

.news .card-body > a:first-child {
    font-size: 17px;
    font-weight: 400;
    color: var(--text);
    opacity: 0.8;
}

.news .card-body a:last-child {
    font-size: 20px;
    font-weight: 600;
    color: var(--sub-color);
    margin-top: 12px;
    transition: all linear 0.3s;
}

.news .card-body a:last-child:hover {
    color: var(--main-color);
}

.news .card-footer {
    background-color: var(--bg-light);
    border-top: 1px solid var(--border-color);
}

.news .new__footer-left a:first-child {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.news .new__footer-left span {
    font-size: 15px;
    font-weight: 600;
    color: var(--text);
    opacity: 0.8;
    margin: 0 8px;
}

.news .new__footer-left a:last-child {
    font-size: 16px;
    font-weight: 600;
    color: var(--sub-color);
    transition: all linear 0.3s;
}

.news .new__footer-left a:last-child:hover {
    color: var(--main-color);
}

.news .new__footer-right {
    font-size: 15px;
    font-weight: 400;
    color: var(--text);
    opacity: 0.8;
    line-height: 100%;
}

/* SUBSCRIBE */

.subscribe {
    background: url(../images/map.png) center/ contain no-repeat scroll;
    background-color: #151421;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.subscribe :is(h3, p) {
    max-width: 670px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.subscribe h3 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe p {
    font-size: 17px;
    font-weight: 400;
    color: #eee;
}

.subscribe__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 550px;
    margin: auto;
}

.subscribe__logo {
    width: 50px;
    height: 58px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-top-left-radius: var(--border);
    border-bottom-left-radius: var(--border);
    background-color: rgba(0, 0, 0, 0.2);
}

.subscribe__logo i {
    font-size: 16px;
    color: #999;
    line-height: 58px;
}

.subscribe__input {
    flex: 1;
    color: #999;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 58px;
    padding: 14px 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

.subscribe__btn {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    width: 124px;
    height: 58px;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-top-right-radius: var(--border);
    border-bottom-right-radius: var(--border);
    transition: all linear 0.3s;
}

.subscribe__btn:hover {
    background-color: #008030;
    border-color: #00732c;
}

/* FOOTER */

.footer {
    background-color: #151421;
}

.footer .footer__content h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 25px;
}

.footer .footer__content .footer__logo span {
    opacity: 1;
    cursor: pointer;
}

.footer .footer__content p,
.footer .footer__content span,
.footer .footer__content a {
    color: #97a1a9;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.8;
    transition: all linear 0.3s;
}

.footer li {
    margin-bottom: 8px;
}

.footer a:hover {
    color: #fff;
    opacity: 1;
}

.footer .footer__logo {
    order: 1;
}

.footer .footer__logo i {
    color: var(--main-color);
    font-size: 30px;
    cursor: pointer;
}

.footer.nav-fixed .footer__logo span:first-child,
.footer.nav-fixed .footer__logo span:last-child {
    color: var(--sub-color);
    font-weight: 600;
}

.footer .footer__logo span:first-child,
.footer .footer__logo span:last-child {
    color: #fff;
    font-weight: 600;
}

.footer .footer__logo span:first-child {
    font-size: 30px;
    line-height: 30px;
}

.footer .footer__logo span:last-child {
    font-size: 14px;
}

.footer__about .footer__socials a {
    margin-right: 15px;
    color: #97a1a9;
    font-size: 16px;
    opacity: 0.6;
    transition: all linear 0.3s;
}

.footer__about .footer__socials a:hover {
    color: #fff;
    opacity: 1;
}

.footer .footer__copyright {
    padding: 24px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer__copyright p {
    color: #97a1a9;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    opacity: 0.8;
    margin-bottom: 0;
}

.footer .footer__copyright span a {
    color: var(--main-color);
    opacity: 0.8;
    transition: all linear 0.3s;
}

.footer .footer__copyright span a:hover {
    color: #fff;
    opacity: 1;
}

/* BACK TO TOP */

.backToTop {
    display: block;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 100;
    width: 50px;
    height: 50px;
    background: var(--main-color);
    border-radius: 50%;
    line-height: 52px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

/* About */
/* .slider .carousel-caption.about2 {
    transform: translate(20%, -50%);
}
.slider .carousel-caption .desc {
    transform: translate(15%, -50%);
} */
/* about.html */
/* Slider */
.slider__bg {
    background-image: url(../img/about/b1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.slider__bg .title {
    padding: 200px 0;
}

.slider__bg .title h2,
.slider__bg .title p {
    color: #fff;
}

.slider__bg .title h2 {
    font-weight: 600;
    font-size: 50px;
}

.slider__overlay-about {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(29, 42, 55, 0.7);
    z-index: -1;
}
/* About */
.about2 {
    padding: 100px 0;
    background-color: var(--bg-light);
}

.about2__block {
    display: flex;
    justify-content: space-between;
}

.about2__content .title h2 {
    font-size: 40px;
    font-weight: 600;
    color: var(--sub-color);
}

.about2__content .title h3 {
    opacity: 0.7;
}

.about2__content .title .intro {
    margin-top: 20px;
    font-size: 25px;
    color: var(--sub-color);
}

.about2__action:hover {
    cursor: pointer;
}
.about2__action .icon-play {
    margin-left: 20px;
    background: transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 72px;
    border: 2px solid var(--main-color);
}
.about2__action .icon-play i {
    color: var(--main-color);
    font-size: 20px;
    padding: 20px;
}
/* Popup play */
#small-dialog {
    max-width: 750px;
    margin: 40px auto;
    position: relative;
}
div#small-dialog iframe {
    width: 100%;
    height: 420px;
    display: block;
    border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
    color: #fff;
}
.mfp-close,
.mfp-close:active {
    top: -40px;
}
/**
     * Fade-zoom animation for first dialog
     */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    transform: scale(0.8);
    opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
.about2__img {
    position: relative;
}

.about2__img img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}
.img__box {
    position: absolute;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #fff;
    width: 200px;
    height: 200px;
    background: var(--main-color);
    border-radius: 10px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 50px;
}

.img__box-wrap {
    display: flex;
    flex-direction: column;
    transform: rotate(-45deg);
}

.img__box span {
    color: #fff;
}

.img__box span:first-child {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.img__box span:last-child {
    font-size: 25px;
    opacity: 0.8;
}
.bg__img {
    position: absolute;
    border-radius: 25% 70% 84% 22% / 42% 75% 25% 75%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 500px;
    background: var(--main-color);
    opacity: 0.4;
    top: 0;
    z-index: -1;
}
.about2__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.about2__item {
    display: flex;
    padding: 50px 35px;
    border-radius: 10px;
    background-color: var(--bg-dark);
    gap: 30px;
}

.about2__desc {
    width: 250px;
    color: #7e7d7d;
}

.about2__item i {
    font-size: 50px;
    color: var(--main-color);
}

.about2__bottom {
    padding-top: 100px;
}

.about2__title {
    color: var(--sub-color);
    font-weight: bold;
    font-size: 24px;
    transition: 0.5s;
}

.about2__title:hover {
    color: var(--main-color);
}

.design__content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
/* Design */
.design {
    background-color: var(--bg-dark);
    padding: 100px 0;
}

.design__left .title h2 {
    margin: 20px 0 30px;
    width: 600px;
}

.design__right {
    width: 50%;
    display: flex;
    gap: 20px;
}
.design__right img {
    width: 270px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
.design__left--wrap {
    display: flex;
    gap: 30px;
}
.design__left--item span {
    font-size: 40px;
    color: var(--main-color);
}
.design__left--item h3 {
    font-weight: 600;
    margin-top: 30px;
    font-size: 22px;
    color: var(--sub-color);
}

.design__left--item .desc {
    width: 300px;
    font-size: 17px;
}

/* Slogan */

.slogan {
    background-image: url(../img/about/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    z-index: 0;
}

.slogan__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: -1;
}
.slogan__wrap {
    padding: 150px 0;
}
.slogan .slogan__title {
    color: #fff;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
}

.slogan .slogan__desc {
    color: #fff;
    text-align: center;
    font-size: 17px;
}

.slogan .icon-play {
    margin-top: 30px;
    background: transparent;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 72px;
    border: 3px solid #fff;
    margin-left: 50%;
}

.slogan .icon-play i {
    color: #fff;
    font-size: 20px;
}

/* Team */
.team {
    background-color: var(--bg-light);
}
.team__content {
    padding: 100px 0;
}
.team__list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.team__item img {
    border-radius: 10px;
}

.team__list--info {
    text-align: center;
    margin-top: 15px;
}
.team__list--info .team__title {
    font-size: 24px;
    color: var(--sub-color);
    font-weight: 600;
    transition: 0.5s all;
}
.team__list--info .team__desc {
    font-size: 17px;
    color: var(--text);
}

.team__list--info .team__title:hover {
    color: var(--main-color);
}

.team__list--img {
    position: relative;
}

.overlay {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: 1;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.5s all;
}

.social__item i {
    color: #fff;
}
.overlay,
.overlay__wrap {
    position: absolute;
    bottom: -20px;
    transition: 0.5s;
    opacity: 0;
}

.overlay__socials--list {
    position: absolute;
    left: 50px;
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.social__item:hover {
    background-color: #666;
    opacity: 0.5;
}

.overlay__title {
    margin-top: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.team__list--img:hover .overlay__wrap,
.team__list--img:hover .overlay {
    bottom: 150px;
    opacity: 1;
}

/* Reason */
.reason {
    padding: 100px 0;
    background-color: var(--bg-dark);
}

.reason__bottom {
    margin-top: 50px;
}
.reason__gird {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 50px;
}

.reason__item {
    display: flex;
    gap: 50px;
}

.reason__icon i {
    padding: 30px;
    font-size: 30px;
}

.reason__title {
    color: var(--sub-color);
    font-size: 24px;
    font-weight: bold;
    transition: 0.5s all;
}

.reason__title:hover {
    color: var(--main-color);
}

.reason__desc {
    color: var(--text);
    font-size: 17px;
}

.reason__icon--wrap.icon1 i {
    color: #009f4d;
    border: 1px solid #009f4d;
    border-radius: 10px;
}

.reason__icon--wrap.icon3 i {
    color: red;
    border: 1px solid red;
    border-radius: 10px;
}

.reason__icon--wrap.icon2 i {
    color: #213364;
    border: 1px solid #213364;
    border-radius: 10px;
    font-size: 26px;
}

.reason__icon--wrap.icon4 i {
    color: #f48924;
    border: 1px solid #f48924;
    border-radius: 10px;
}

/* Together */

.together {
    padding: 150px 0;
    background-color: var(--bg-light);
}
.together__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.together__content .title {
    width: 55%;
}
.button__together {
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    transition: 0.5s;
}

.button__together i {
    margin-left: 5px;
}

.button__together:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 179, 92, 0.5);
    border-color: #00732c;
    color: #fff;
    background-color: #008030;
}
.together__content .title h3 {
    opacity: 0.7;
}

/* Contact */
.contact {
    padding: 150px 0;
    background-color: var(--bg-dark);
}

.contact .title h3 {
    width: 800px;
    margin: 0 auto;
}

.contact__info--list {
    display: flex;
    margin-top: 40px;
    gap: 30px;
}

.contact__info--item {
    display: flex;
    border-radius: 10px;
    padding: 25px;
    background-color: var(--bg-light);
    gap: 20px;
    width: calc(100% / 3);
}

.contact__icon i {
    color: var(--sub-color);
}

.contact .contact__content .contact__title {
    font-size: 22px;
    font-weight: 600;
    color: var(--sub-color);
}

.contact .contact__content .contact__desc {
    font-size: 17px;
    color: var(--text);
    opacity: 0.7;
    line-height: 27px;
}

.contact .contact__info--item .contact__icon i {
    font-size: 40px;
}

.contact__desc a {
    display: block;
    color: var(--text);
}

.form__info {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form__info input {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    outline: none;
}

.form__info input:focus {
    outline: none;
    border: 1px solid var(--sub-color);
    background: none;
}

.form__info input.message {
    grid-column: 1/3;
    height: 130px;
}

.form__info .button {
    position: absolute;
    width: 200px;
    color: #fff;
    right: 0;
    text-align: center;
    border: none;
}

/* Services */
.our__service {
    padding: 150px 0;
    background-color: var(--bg-dark);
}
.our__service .our__service--top h2 {
    width: 710px;
    margin: 0 auto;
}

.our__service--block {
    display: flex;
    gap: 30px;
}
.our__service--item {
    width: 50%;
    text-align: center;
    background-color: var(--bg-light);
    padding: 40px;
}

.our__service--item .button {
    border: none;
    color: #fff;
}

.service__wrap--img img {
    width: 648px;
}

.our__service--block.block-2 {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
}
/* BEAUTIFULLY CRAFTED CREATIVE SOLUTIONS */
.served__industries {
    padding: 150px 0;
    background-color: var(--bg-light);
}

.served__industries--item {
    display: flex;
    gap: 20px;
    background-color: var(--bg-dark);
    width: calc(33.333% - 20px);
    padding: 40px 30px;

    border-radius: 10px;
}

.served__industries--item i {
    font-size: 40px;
    color: var(--main-color);
}

.served__industries--bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.served__industries--title {
    color: var(--sub-color);
    font-size: 24px;
    font-weight: 600;
    transition: 0.5s;
}

.served__industries--title:hover {
    color: var(--main-color);
}

.served__industries--desc {
    color: var(--text);
}

/* INNOVATIVE TECHNOLOGY */
.service__info {
    background-image: url(../img/service/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    padding: 150px 0;
}

.service__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: -1;
}

.service__info--wrap {
    display: flex;
    justify-content: space-between;
}

.service__info--right {
    padding: 50px;
    background-color: var(--bg-light);
    border-radius: 10px;
}

.service__form {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
}

.service__form input {
    padding: 20px;
    border: none;
    background-color: var(--bg-dark);
    border-radius: 10px;
}

.service__form textarea {
    background-color: var(--bg-dark);
    border-radius: 10px;
    padding: 20px;
    border: none;
}

.service__info--right h3 {
    color: var(--sub-color);
}

.service__info--right .desc {
    color: var(--text);
}

.service__form .button {
    border: none;
    width: 50%;
    color: #fff;
    transition: 0.5s;
}

.service__form .button:hover {
    opacity: 0.8;
}

.service__info--left .title {
    width: 530px;
}

.service__content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.service__content i {
    font-size: 40px;
}

.service__content .service__wrap .service__title {
    font-size: 24px;
    font-weight: bold;
}

.service__content .service__wrap .service__desc {
    font-size: 17px;
    color: #eee;
}

.service__desc a {
    margin-top: 10px;
    color: #eee;
    opacity: 0.8;
}

.service__content--border {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 30px 0;
}

/* SOLUTIONS */

/*     transform: translateY(-0.25rem);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px, rgba(71, 63, 79, 0.16) 0px 5px 10px; */

.solutions {
    padding: 150px 0;
    background-color: var(--bg-dark);
}

.solutions .title h2 {
    width: 750px;
    margin: 0 auto;
}

.solutions__list {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.solutions__item {
    background-color: var(--bg-light);
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    transition: 0.5s all;
}

.solutions__list .solutions__item .title h3 {
    margin: 15px 0;
    font-size: 22px;
    color: var(--sub-color);
    transition: 0.5s all;
}

.solutions__list .solutions__item .title .desc {
    font-size: 17px;
    color: var(--text);
}

.solutions__item:hover {
    transform: translateY(-10px);
    box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
        rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

.solutions__item .title h3:hover {
    color: var(--main-color);
}
